.TableComplete{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 0.1px solid black;
    display: inline-flex;
}

.mergedHouses{
    display: inline-grid;
    align-items: center;
}

